#header {
    text-align: center;
    font-size: 80%;
    background-color: #e4e4e4;
    padding: 0em 0em 0.5em 0em;
}

.title {
    text-align: center;
    padding: 0em 1em 0em 1em;
}

.map {
    max-width:100%;
    max-height:100%;
}

#name {
    text-align: right;
    font-size: 18px;
    padding: 0.5em 1em 0em 1em;
}

#content {
    background-color: #eeeeee;
    padding: 1em 2em 1em 2em;
}

.projectentry>tbody>tr>td {
    padding-right: 16px;
}

.maptable {
    align-self: center;
}

.maptable>tbody>tr>td {
    padding-left: 8px;
    padding-right: 8px;
    width: 200px;
    height: 275px;
    vertical-align: top;
}

.blogtable>tbody>tr>td {
    padding-right: 32px;
}

.blogtable>tr {
    padding-bottom: 0px;
    line-height: 0.0;
}

ul#navigation {
    padding: 0em 0em 0em 0em;
}

ul#navigation li {
    font-size: 20px;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: underline;
    color: #555555;
}

body {
    font-family: Cantarell, sans-serif;
    font-size: 18px;
    color: #555555;
    line-height: 1.6;
    max-width: 40em;
    margin: 0px auto;
    padding: 0em 1em 1em 1em;
    background-color: #c5c5c5;
}
